body {
    background-color: #f2f2f2;
    height: 100%;
}

.title {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

.menu {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.welcome-message {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    background-color: #6b9ef6;
    border-radius: 4px;
    font-size: 20px;
}

.close-button {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
}

.user-image {
    margin-right: 15px;
}

.user-image img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.page-container {
    position: relative;
    min-height: 100vh;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2.5rem;    /* Footer height */
    margin-top: 1.5rem;
}

.menu-section {
    margin-top: 20px;
}

.menu-section .list-group {
    display: flex;
    justify-content: space-around;
}

.closed {
    margin-right: 15px;
}

#success-alert {
    position: fixed;
    top: 5.5rem;
    right: 0;
    z-index: 99999;
}


#danger-alert {
    position: fixed;
    top: 5.5rem;
    right: 0;
    z-index: 99999;
}

.footer {
    padding-top: 10px;
    background-color: #e9e9ea;
    bottom: 0;
    position: absolute;
    margin-top: 30px;
    width: 100%;
}

@media screen and (max-width: 600px) {
    .footer {
      visibility: hidden;
      clear: both;
      float: left;
      margin: 10px auto 5px 20px;
      width: 28%;
      display: none;
    }
  }

.img-fluid {
    width: 24px;
    height: 24px;
}
.row {
    margin-right: 0;
}
.user-icon {
    width: 24px;
    height: 24px;
}

.zoom-link {
    transition: transform .2s; /* Animation */
    margin: 0 auto;
}
.zoom-link:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
