.register-form {
    padding: 30px;
    margin-top: 5px;
    margin-bottom: 50px;
    max-width: 600px;
}

.hidden {
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0s linear 0.3s;
}

.visible {
    opacity: 1;
    transition: opacity 0.3s ease;
}
